[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
e1839a8 = {path = ".",editable = true}
geometriq = {editable = true,path = "."}
opensimplex = "*"

[dev-packages]
pylint = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3.7"
